.choice-box .context-menu { -fx-background-color: #242F3E; }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: 	#2B5278; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.choice-box {
  -fx-background-color: #242F3E;
  -fx-mark-color: 	#2B5278; // arrow color
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: white; }





